<br>
<i>Your puzzle:</i>
<div>
	<%= @puzzle.text %>
</div>
<br>
<i>Your answer:</i>
<div>
	<%= @answer.text %>
</div>

<br>
<b><%= @message %></b>
<br>
Score (measured in seconds): <%= @answer.completion_time %>
<br>
<% if !@answer_is_correct then %>
<a href='javascript:history.back()'> <%= @options[0]%> </a><%= @options[1] %>
<% end %>
<br>
<br>
<a href='/puzzles/<%= @puzzle.id %>/answers'>Click here</a>&nbsp;to view all the submitted answers for this question.